#genres {
    font-weight: bold;
}
#genres-type {
    display: inline;
}
#genre-color {
    background-color: #eee;
}
#Stores-underline {
    margin: 25px 0 0 10px;
}
.genres-button {
    margin: 15px 0 0 10px;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}