.nav-margin {
    height: 64px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-inner {
    border-color: #fff #fff #ababab;
    padding: 20px;
}

h1 {
    color: #666666;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 0 12px 0;
    padding: 0 0 28px 0;
}


/* -- !Fieldsets -- */

fieldset {
    border: none;
    position: relative;
    padding: 0;
}


/* -- !Fields -- */

fieldset div {
    margin: 0 0 10px 0;
    padding: 5px 0 5px 160px;
}

fieldset div.controls {
    margin: 25px 0 0 0;
    padding: 0;
}


/* Labels */

fieldset div label {
    color: #666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.1;
    margin: 7px 0 0 -160px;
    width: 140px;
}


/* Input defaults */

fieldset div input,
fieldset div select {
    border: 1px solid #a3b4c4;
    border-color: #636d77 #a3b4c4 #c7d2de;
    color: #333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1;
    margin: 0;
}


/* Text inputs */

fieldset div input {
    padding: 6px 5px;
    width: 288px;
}


/* Select menus */

fieldset div select {
    padding: 0 0 0 3px;
    width: 291px;
}


/* File Upload */

fieldset div input[type=file] {
    background: none;
    border: none;
    padding: 0;
}

/* -- Submit -- */

.btn {
  width: 50%;
  margin: 0 auto;
}

.profile-edit {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 70%;
  margin: 20px auto;
}

.profile-edit-logo-div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 10px 0;
  padding: 10px 0 0 0;
}

.profile-edit-logo {
  width: 100px;
  margin: 0 auto;
}

.profile-edit-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.profile-edit-div {
  display: flex;
  align-items: center;
}

.input-user-photo {
  margin: 10px 0;
}
