<div class="sign-in">
    <h1>Geeks Reads</h1>
    <button mat-raised-button color="primary" class="btn facebook"><i></i><span></span>Continue with Facebook</button>
    <button mat-raised-button color="primary" class="btn amazon"><i></i><span></span>Continue with Amazon</button>
    <hr>
    <form class="sign-in-form">
      <mat-form-field>
        <input matInput placeholder="Enter your email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <button mat-raised-button class="btn">Sign In</button>
      <p>Not a member? <a routerLink="/sign-up">Sign Up</a></p>
    </form>
</div>