.nav-margin {
    height: 64px;
}

.mat-form-field {
    margin: 10px 0;
}

.btn {
    width: 50%;
    margin: 0 auto;
}

.pass-reset {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70%;
    margin: 20px auto;
}

.pass-reset-logo-div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 10px 0;
    padding: 10px 0 0 0;
}

.pass-reset-logo {
    width: 100px;
    margin: 0 auto;
}

.pass-reset-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.pass-reset-div {
    display: flex;
    align-items: center;
}
