<div class="forgot-password">
    <div class="verification-logo-div">
        <img src="../../assets/logos/logo.png" alt="Geeksreads Logo" class="verification-logo">
    </div>
    <div *ngIf="!requestSuccess">
        <form [formGroup]="formdata" (ngSubmit)="updatePassword(formdata.value)" class="pass-reset-form">
            <mat-form-field>
                <input matInput placeholder="Enter your email" name="email" formControlName="email" required id="email">
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field id="password-field">
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" name="password" formControlName="password" required id="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <mat-form-field id="token-input">
                <input matInput placeholder="Enter token" name="token" formControlName="token" required id="token">
            </mat-form-field>
            <input mat-raised-button class="btn" type="submit" id="form-submit-btn" [disabled]="!formdata.valid" value="Submit">
        </form>
    </div>
    <div *ngIf="requestSuccess">
        <p>Your password has been updated!</p>
        <a routerLink="/sign-in">Sign In</a>
    </div>
</div>