<div class="nav-margin"></div>
<div ngclass="pass-reset">
    <div class="pass-reset-div">
        <img src="../../assets/logos/logo.png" alt="Geeksreads Logo" class="pass-reset-logo" />
    </div>
    <form class="pass-reset-form" ng-submit="requestNewPassword()">
        <mat-form-field id="token-field">
            <input id="input-token" matInput placeholder="Enter token sent to you by mail" required name="token" [(ngModel)]="token"/>
        </mat-form-field>
        <mat-form-field id="password-field">
            <input id="input-new-password" matInput placeholder="Enter your new password" [type]="hide ? 'password' : 'text'" required name="password" [(ngModel)]="userPassword"/>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <button mat-raised-button class="btn" type>Save Password</button>
    </form>
</div>