<div id="Book-info">
    <img class="Book-image" src="{{book_details[book_index].book_image}}">
    <div id="Book-Title">
        <h3 id="title">{{book_details[book_index].book_title}}</h3>
        <p id="By-Author">by
            <span id="Author-name">{{book_details[book_index].book_author}}</span></p>
        <button mat-stroked-button id="want-to-read">Want To Read</button>
        <button mat-stroked-button id="rate">Rate </button>
        <div>
            <button mat-stroked-button id="Write-a-review">Write a review</button>
        </div>
    </div>

</div>
<div id="review-book">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
</div>
<div id="book-details-and-reviewbutton">
    <p id="book-details">book details</p>
</div>

<div class="book-discription">
    <p>{{book_details[book_index].book_details_shown}}
        <span id="dots-book-discription">...</span>
        <span id="more-book-discription">{{book_details[book_index].book_details_hidden}}</span>
    <button (click)="more_book_discription()" mat-button id="myBtn-book-discription">Read more</button></p>
    <hr id="underline-bookk-entity" class="w3-gray">
</div>