body{
    background-color: darksalmon;
}
.Book-image 
{
    max-width: 150px;
    max-height: 150px;
    margin:5px 0 0 0;
    display: block;
    
}
#review-book
{
    margin:0 0 0 15px;
}
#Book-Title
{   
    display: inline;
    vertical-align: top;
    flex-direction: row;
    flex-wrap: nowrap;
    margin:5px 0 0 0;
}
#Book-info
{
    margin: 65px 0 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#Book-info h3 
{
    margin: 0 0 0 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Book-info p
{
    margin:10px 0 0 15px;
}
#book-details-and-reviewbutton
{

    display: flex;
    vertical-align: top;
    flex-direction: row;
    flex-wrap: nowrap;
}
#Book-info span
{
    margin:10px 0 0 0;
    color:blue;
    text-decoration: underline;
}
#book-details
{
    color: blue;
    margin: 10px 0 0 20px;
    cursor:pointer;
}
#want-to-read
{
    margin: 30px 0 0 15px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor:pointer;
}
#By-Author
{
    cursor:pointer;
}
#rate
{
    margin: 30px 0 0 5px;
    background-color: darkgrey;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor:pointer;
}
.book-discription
{
    margin:0 0 0 10px;
}
#underline-bookk-entity
{
    color:darkgray;
    background-color: darkgray;
    size:5;
    margin-left: 0;
}
#Write-a-review
{
    margin: 10px 0 0 25px;
    background-color: darkgrey;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor:pointer;
}
#Write-a-review:hover{
    background-color: red;
    transition: 1s;
}
.checked
{
    color:orange;
}
#review-book
{
    
}
#Book-info button:hover
{
    background-color: red;
    transition: 1s;
}
#more-book-discription
{
    display: none;
}
#myBtn-book-discription:hover
{
    background-color: red;
    transition: 1s;
}
#myBtn-book-discription
{
    background-color: darkgrey;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor:pointer;
}
#dots-book-discription
{
    color:blue;
}