
<div id="Book-info">
    <img class="Book-image" src="https://i.pinimg.com/236x/d6/b0/7b/d6b07b9d0ee3df0168945910e2142bf5--black-butler-kuroshitsuji-shinigami.jpg">
    <div id="Book-Title">
        <h3>Kuroshitsuji: Black Butle</h3>
        <p id="By-Author">by
        <span id="Author-name">Wiessman</span></p>
        <p id="review-book">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </p>
        <button id="want-to-read">Want To Read</button>
        <button id="rate">Rate </button>
    </div> 
</div>
<div id="book-details-and-reviewbutton">
    <p id="book-details">book details</p>
    <button id="Write-a-review">Write a review</button>
</div>
<div class="book-discription"> 
    <p>Black Butler (Japanese: 黒執事 Hepburn: Kuroshitsuji) is a Japanese manga 
        series written and illustrated by Yana Toboso. Since its debut on September 16, 2006, 
        <span id="dots-book-discription">...</span>
        <span id="more-book-discription">it has been serialized in Gangan Comics' shōnen 
        manga magazine Monthly GFantasy. ... 
        A live action film adaptation was released in Japan on January 18, 2014</span></p>
        <button (click)="more-book-discription()" id="myBtn-book-discription">Read more</button>
        <hr id="underline-bookk-entity">
</div>
