.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
 
}
.name {
        color: #092c21 ;
        
        
}
.activity 
{
 font-size: 115% ; 
 position : relative ; 
 padding-top: -2; 
 border-top: 10px; ; 
 color: brown ; 
 
 }

.bookImage
{
  margin-left: 2em;
  width: 2cm;
  height:3.5cm;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.checked {
  color: orange;
  }
#parent{
  max-width: 100%;
}
 .child {
   max-width: 50%;
 } 
  .container
  {
    width:3cm ;   
  }
  #wantToRead
  {
      margin: 15px 0 0 15px;
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      cursor:pointer;
  }
  h5{
    color:grey;
    font-size:18px ; 
  }