<mat-card class="example-card">
  <!-- header of the card contains name of the user and his/her image-->
  <mat-card-header>
    
    <div mat-card-avatar class="example-header-image"> </div>
    
    <mat-card-title class="name" >Pirongo Young{{userName}} </mat-card-title> 
    <!--activiy status-->
    <p class="activity"> rated a book{{activityLog}} </p>
    <!-- display the ratigs --> 
    <div class="container">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    </div>

    <mat-card-subtitle>about 2 hours {{activityDate}}ago</mat-card-subtitle>
    </mat-card-header> 

    <!--body of the card contains image and book's info should consist of 2 parts -->
 <div id="parent">
 <div class="child"> <img  mat-card-image  class="bookImage" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of the book">
 </div>
 <div class="child"> <h4 >Eat Pray Love {{bookName}}</h4>
                     <h5>by{{authorName}} </h5>
                     <button id="wantToRead">Want to read</button>
 </div>
</div>
<!--review status bar-->
  <mat-card-content>
    <p>It was a relly nice book and i enjoyed reading it</p>
  </mat-card-content>
  
 <!--action buttons--> 
<div class="example-button-row">
  
  <button mat-button color="accent">LIKE</button>
  <button mat-button color="warn">COMMENT</button>
</div>