<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div> 
    <mat-card-title > Name </mat-card-title>
   
    <mat-card-subtitle>about 2 hours ago</mat-card-subtitle>
    
   
    </mat-card-header> 
  <img  mat-card-image class="bookImage" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of the book">
  <mat-card-content>
    <p>It was a relly nice book and i enjoyed reading it</p>
  </mat-card-content>
  
  
<div class="example-button-row">
  
  <button mat-button color="accent">LIKE</button>
  <button mat-button color="warn">COMMENT</button>
  
 
</div>