<p id="suggested-books-others">Readers Also Enjoyed</p>
<div class="scroll-menu-other">
  <a id="suggested-book-other">
    <img class="suggested-book-other-image" src={{suggestedbook_details[0].suggestedbook_image}}>
    <h4 class="suggested-book-other-title">{{suggestedbook_details[0].suggestedbook_title}}</h4>
    <p class="suggested-book-other-author">by<span class="author-name">{{suggestedbook_details[0].suggestedbook_author}}</span></p>
  </a>
  <a id="suggested-book-other">
    <img class="suggested-book-other-image" src={{suggestedbook_details[1].suggestedbook_image}}>
    <h4 class="suggested-book-other-title">{{suggestedbook_details[1].suggestedbook_title}}</h4>
    <p class="suggested-book-other-author">by<span class="author-name">{{suggestedbook_details[1].suggestedbook_author}}</span></p>
  </a>
    <a id="suggested-book-other">
    <img class="suggested-book-other-image" src={{suggestedbook_details[2].suggestedbook_image}}>
    <h4 class="suggested-book-other-title">{{suggestedbook_details[2].suggestedbook_title}}</h4>
    <p class="suggested-book-other-author">by<span class="author-name">{{suggestedbook_details[2].suggestedbook_author}}</span></p>
  </a>
  <a id="suggested-book-other">
    <img class="suggested-book-other-image" src={{suggestedbook_details[3].suggestedbook_image}}>
    <h4 class="suggested-book-other-title">{{suggestedbook_details[3].suggestedbook_title}}</h4>
    <p class="suggested-book-other-author">by<span class="author-name">{{suggestedbook_details[3].suggestedbook_author}}</span></p>
  </a>
  <a id="suggested-book-other">
    <img class="suggested-book-other-image" src={{suggestedbook_details[4].suggestedbook_image}}>
    <h4 class="suggested-book-other-title">{{suggestedbook_details[4].suggestedbook_title}}</h4>
    <p class="suggested-book-other-author">by<span class="author-name">{{suggestedbook_details[4].suggestedbook_author}}</span></p>
  </a>
  <a id="suggested-book-other">
    <img class="suggested-book-other-image" src={{suggestedbook_details[5].suggestedbook_image}}>
    <h4 class="suggested-book-other-title">{{suggestedbook_details[5].suggestedbook_title}}</h4>
    <p class="suggested-book-other-author">by<span class="author-name">{{suggestedbook_details[5].suggestedbook_author}}</span></p>
  </a>
  <a id="suggested-book-other">
    <img class="suggested-book-other-image" src={{suggestedbook_details[6].suggestedbook_image}}>
    <h4 class="suggested-book-other-title">{{suggestedbook_details[6].suggestedbook_title}}</h4>
    <p class="suggested-book-other-author">by<span class="author-name">{{suggestedbook_details[6].suggestedbook_author}}</span></p>
  </a>
  <a id="suggested-book-other">
    <img class="suggested-book-other-image" src={{suggestedbook_details[7].suggestedbook_image}}>
    <h4 class="suggested-book-other-title">{{suggestedbook_details[7].suggestedbook_title}}</h4>
    <p class="suggested-book-other-author">by<span class="author-name">{{suggestedbook_details[7].suggestedbook_author}}</span></p>
  </a>
  <a id="suggested-book-other">
    <img class="suggested-book-other-image" src={{suggestedbook_details[8].suggestedbook_image}}>
    <h4 class="suggested-book-other-title">{{suggestedbook_details[8].suggestedbook_title}}</h4>
    <p class="suggested-book-other-author">by<span class="author-name">{{suggestedbook_details[8].suggestedbook_auhtor}}</span></p>
  </a>
  <a id="suggested-book-other">
    <img class="suggested-book-other-image" src={{suggestedbook_details[9].suggestedbook_image}}>
    <h4 class="suggested-book-other-title">{{suggestedbook_details[9].suggestedbook_title}}</h4>
    <p class="suggested-book-other-author">by<span class="author-name">{{suggestedbook_details[9].suggestedbook_author}}</span></p>
  </a>
</div>
<hr id="underline-other-suggested-books">
