<h2>
    Read Books : </h2>
<mat-list *ngFor="let index of listOfBooksRead">
    <!-- <mat-list-item *ngIf="index.state=='read'">     -->
    <mat-list-item>

        <img width="60" height="80" src="{{index.Cover}}" alt="book">
        <a routerLink="/book/{{index.BookId}}" id="book-route">{{index.Title}} <br> by {{index.AuthorName}}  </a>
        <button id="MENU" [matMenuTriggerFor]="menu">read...</button>
        <mat-menu #menu="matMenu">
            <button id="item_1" mat-menu-item (click)=" OnClick_Remove(index)" id="currentlyReadingButton">Remove Book</button>
        </mat-menu>
        <div *ngIf="index.BookRating=='1.0'">
            <p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </p>
        </div>
        <div *ngIf="index.BookRating=='2.0'">
            <p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </p>
        </div>
        <div *ngIf="index.BookRating=='3.0'">
            <p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </p>
        </div>
        <div *ngIf="index.BookRating=='4.0'">
            <p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </p>
        </div>
        <div *ngIf="index.BookRating=='5.0'">
            <p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </p>
        </div>
    </mat-list-item>
</mat-list>