
<h2>Read : </h2>
<mat-list *ngFor="let index of List_of_books_read">
  <hr>
    <mat-list-item *ngIf="index.state=='read'"  >
        
        <img width="60" height="80" 
    src= "{{index.book_cover}}" alt="book">  
  
   <a routerLink="/book">{{ index.book_name}} <br> by {{index.author_name}}  </a>  
     <button id="MENU"  [matMenuTriggerFor]="menu">{{index.state}} ...</button>
     
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)=" OnClick_reading(index)">currently reading</button>
        <button mat-menu-item (click)="OnClick_want_read(index)">want to read</button>
    </mat-menu>
    <p>
      <span class="fa fa-star checked" ></span>
      <span class="fa fa-star checked" ></span>
      <span class="fa fa-star checked" ></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
  </p>
        
  
    </mat-list-item>
  </mat-list>