#profile {
    text-align: center;
    margin-top: 80px;
    
}
.photo {
    max-width: 150px;
    max-height: 150px;
}
#user-name {
    font-family: 'Times New Roman', Times, serif;
    color: cadetblue; 
}
#user-email {
    font-family: 'Times New Roman', Times, serif;
    color: cadetblue; 
}
#my-book {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 3rem;
    color: cadetblue;    
}
#UnFollow-Button {
    color: cadetblue;
}
#Follow-button {
    color: blue;
}
pre{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    
}
