<div id="profile">
  <img class="photo"  [src]="userCoverPhoto">
  <h3 id="user-name">{{userName}}</h3>
  <h3 id="user-email">{{userEmail}}</h3>

  <div *ngIf="isFollowing=='True'">
  <button id="UnFollow-Button" (click)=" OnClickUnFollow()" mat-stroked-button >UnFollow</button>
</div>
<div *ngIf="isFollowing=='False'">
  <button id="Follow-button" (click)=" OnClickFollow()" mat-stroked-button >Follow</button>
</div>
  <pre>Followers : {{userFollowers}}         Following : {{userFollowing}}   </pre> 
</div>
<app-profile-want-to-read-shelf></app-profile-want-to-read-shelf>
<app-profile-read-shelf></app-profile-read-shelf>
<app-profile-reading-shelf></app-profile-reading-shelf>


