 <div class="navbar-margin">
<!-- <div *ngIf=!fiStatuses class="no-status">
    <p class="no-posts-message">  You may follow some friends to start the experience.</p>  </div>  -->

    <app-newsfeed-comment-post [userName]="commentMakerName" [activityDate]="commentDate" [comment]="comment" [makerImage]="commentMakerImage"  ></app-newsfeed-comment-post>
  <div *ngIf=fiStatuses> 
    <div *ngFor=" let i of PostObj">
    <div *ngIf=" i.StatusType=='Comment'">
        <app-newsfeed-comment-post ></app-newsfeed-comment-post>
    </div>
    <div *ngIf=" i.StatusType=='Review'">
        <app-newsfeed-post></app-newsfeed-post>
    </div>
</div>  

</div> 