 <div class="navbar-margin">
 <div *ngIf="PostObj.length ===0 " class="no-status">
    <p class="no-posts-message">  You may follow some friends to start the experience.</p>  </div>  
 
    
    <app-newsfeed-comment-post [userName]="commentMakerName" [activityDate]="commentDate" [comment]="comment" [makerImage]="commentMakerImage" [activityLog]="StatusType" ></app-newsfeed-comment-post>
  <div *ngIf= "PostObj.length>0"> 
    <div *ngFor=" let i of PostObj">
    <div *ngIf=" StatusType === 'Comment' ">
        <app-newsfeed-comment-post ></app-newsfeed-comment-post>
    </div>
    <div *ngIf=" StatusType === 'Review' ">
        <app-newsfeed-post></app-newsfeed-post>
    </div>
</div>  

</div> 