<div class="navbar-margin"></div>
<div *ngIf=noStatuses class="no-status">
    <p>There are no statuses!</p>
<!-- </div>
    <app-newsfeed-comment-post></app-newsfeed-comment-post>
</div>  -->



<!-- <div *ngFor="let index of PostObj">
    <div *ngIf="index.StatusType=='Comment'">
        <div>
            <app-newsfeed-comment-post></app-newsfeed-comment-post>
        </div>
       
    </div>
</div> -->

 <!-- <div *ngIf=!noStatuses class="newsfeed-posts-container">
                <app-newsfeed-comment-post></app-newsfeed-comment-post>

                <div *ngIf="index.StatusType==Review"></div>
                <app-newsfeed-post></app-newsfeed-post>
        </div> -->