        #Stores_buttons
        {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin: 15px 0 0 10px;
        }
        #Stores_buttons button:hover
        {
            background-color: red;
            transition: 1s;
        }
        #amazon_store
        {
            background-color: darkgrey;
            margin: 0 0 0 0;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            font-size: 12px;
            cursor:pointer;
        }
        .drop_down_online_store
        {
            position: relative;
            display: inline;
        }
        .drop_down_online_store:hover .dropdown_list 
        {
            display: block;
            cursor: pointer;
        }
        .drop_down_online_store:hover .online_store {background-color: #3e8e41;}
        #Stores_underline
        {
            margin: 25px 0 0 0;
        }
        #online_store
        {
            background-color: darkgrey;
            margin: 0 0 0 10px;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            font-size: 12px;
            cursor:pointer;
        }
        .dropdown_list a:hover {background-color: #ddd;}
        .dropdown_list a
        {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;

        }
        .dropdown_list
        {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        #libraries_store
        {
            background-color: darkgrey;
            margin: 0 0 0 10px;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            font-size: 12px;
            cursor:pointer;
        }
        #Stores_underline
        {
            margin: 25px 0 0 10px;
        }