<p id="other-suggested-books">Readers Also Enjoyed</p>
<div class="scroll-menu">
    <a id="suggested-book" href="#">
        <img class="suggested-book-image" src={{suggestedauthorbook_details[0].suggestedauthorbook_image}}>
        <h4 class="suggested-book-title">{{suggestedauthorbook_details[0].suggestedauthorbook_title}}</h4>
        <p class="suggested-book-author">by<span class="author-name">{{suggestedauthorbook_details[0].suggestedauthorbook_author}}</span></p>
    </a>
    <a id="suggested-book" href="#">
        <img class="suggested-book-image" src={{suggestedauthorbook_details[1].suggestedauthorbook_image}}>
        <h4 class="suggested-book-title">{{suggestedauthorbook_details[1].suggestedauthorbook_title}}</h4>
        <p class="suggested-book-author">by<span class="author-name">{{suggestedauthorbook_details[1].suggestedauthorbook_author}}</span></p>
    </a>
    <a id="suggested-book" href="#">
        <img class="suggested-book-image" src={{suggestedauthorbook_details[2].suggestedauthorbook_image}}>
        <h4 class="suggested-book-title">{{suggestedauthorbook_details[2].suggestedauthorbook_title}}</h4>
        <p class="suggested-book-author">by<span class="author-name">{{suggestedauthorbook_details[2].suggestedauthorbook_author}}</span></p>
    </a>
    <a id="suggested-book" href="#">
        <img class="suggested-book-image" src={{suggestedauthorbook_details[3].suggestedauthorbook_image}}>
        <h4 class="suggested-book-title">{{suggestedauthorbook_details[3].suggestedauthorbook_title}}</h4>
        <p class="suggested-book-author">by<span class="author-name">{{suggestedauthorbook_details[3].suggestedauthorbook_author}}</span></p>
    </a>
    <a id="suggested-book" href="#">
        <img class="suggested-book-image" src={{suggestedauthorbook_details[4].suggestedauthorbook_image}}>
        <h4 class="suggested-book-title">{{suggestedauthorbook_details[4].suggestedauthorbook_title}}</h4>
        <p class="suggested-book-author">by<span class="author-name">{{suggestedauthorbook_details[4].suggestedauthorbook_author}}</span></p>
    </a>
    <a id="suggested-book" href="#">
        <img class="suggested-book-image" src={{suggestedauthorbook_details[5].suggestedauthorbook_image}}>
        <h4 class="suggested-book-title">{{suggestedauthorbook_details[5].suggestedauthorbook_title}}</h4>
        <p class="suggested-book-author">by<span class="author-name">{{suggestedauthorbook_details[5].suggestedauthorbook_author}}</span></p>
    </a>
    <a id="suggested-book" href="#">
        <img class="suggested-book-image" src={{suggestedauthorbook_details[6].suggestedauthorbook_image}}>
        <h4 class="suggested-book-title">{{suggestedauthorbook_details[6].suggestedauthorbook_title}}</h4>
        <p class="suggested-book-author">by<span class="author-name">{{suggestedauthorbook_details[6].suggestedauthorbook_author}}</span></p>
    </a>
    <a id="suggested-book" href="#">
        <img class="suggested-book-image" src={{suggestedauthorbook_details[7].suggestedauthorbook_image}}>
        <h4 class="suggested-book-title">{{suggestedauthorbook_details[7].suggestedauthorbook_title}}</h4>
        <p class="suggested-book-author">by<span class="author-name">{{suggestedauthorbook_details[7].suggestedauthorbook_author}}</span></p>
    </a>
    <a id="suggested-book" href="#">
        <img class="suggested-book-image" src={{suggestedauthorbook_details[8].suggestedauthorbook_image}}>
        <h4 class="suggested-book-title">{{suggestedauthorbook_details[8].suggestedauthorbook_title}}</h4>
        <p class="suggested-book-author">by<span class="author-name">{{suggestedauthorbook_details[8].suggestedauthorbook_author}}</span></p>
    </a>
    <a id="suggested-book" href="#">
        <img class="suggested-book-image" src={{suggestedauthorbook_details[9].suggestedauthorbook_image}}>
        <h4 class="suggested-book-title">{{suggestedauthorbook_details[9].suggestedauthorbook_title}}</h4>
        <p class="suggested-book-author">by<span class="author-name">{{suggestedauthorbook_details[9].suggestedauthorbook_author}}</span></p>
    </a>
</div>
<hr id="underline-suggested-books">