<p id="other-suggested-books">Other books by this author</p>
<div class="scroll-menu">
  <a id="suggested-book">
    <img class="suggested-book-image" src="https://cdn.myanimelist.net/images/manga/3/161407.jpg">
    <h4 class="suggested-book-title">OverLord</h4>
    <p class="suggested-book-author">by<span class="author-name">Wiesman</span></p>
  </a>
  <a id="suggested-book">
      <img class="suggested-book-image" src="https://mangahelpers.com/forum/media/wsj-cover-issue-9-2016.19683/full?d=1454154995">
      <h4 class="suggested-book-title">Hero Academia</h4>
      <p class="suggested-book-author">by<span class="author-name">Wiesman</span></p>
    </a>
    <a id="suggested-book">
        <img class="suggested-book-image" src="https://vignette.wikia.nocookie.net/swordartonline/images/1/19/Calibur_Manga_Cover.png/revision/latest?cb=20161009045733">
        <h4 class="suggested-book-title">Sword Art Online</h4>
        <p class="suggested-book-author">by<span class="author-name">Wiesman</span></p>
      </a>
      <a id="suggested-book">
          <img class="suggested-book-image" src="https://vignette.wikia.nocookie.net/tokyoghoul/images/6/6a/Volume_01.jpg/revision/latest?cb=20161203075330">
          <h4 class="suggested-book-title">Tokyo Ghoul</h4>
          <p class="suggested-book-author">by<span class="author-name">Wiesman</span></p>
        </a>
        <a id="suggested-book">
            <img class="suggested-book-image" src="https://i.redd.it/9fkinvfcum3z.jpg">
            <h4 class="suggested-book-title">Tokyo Ghoul Root</h4>
            <p class="suggested-book-author">by<span class="author-name">Wiesman</span></p>
          </a>
          <a id="suggested-book">
              <img class="suggested-book-image" src="https://vignette.wikia.nocookie.net/goblin-slayer/images/f/f4/LN_Vol_03_cover.jpg/revision/latest?cb=20180219173004">
              <h4 class="suggested-book-title">Goblin Slayer</h4>
              <p class="suggested-book-author">by<span class="author-name">Wiesman</span></p>
            </a>
            <a id="suggested-book">
                <img class="suggested-book-image" src="https://d2lzb5v10mb0lj.cloudfront.net/covers/600/29/29259.jpg">
                <h4 class="suggested-book-title">Danganronpa</h4>
                <p class="suggested-book-author">by<span class="author-name">Wiesman</span></p>
              </a>
              <a id="suggested-book">
                  <img class="suggested-book-image" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/62/F%C5%ABka_%28manga%29_cover.jpeg/220px-F%C5%ABka_%28manga%29_cover.jpeg">
                  <h4 class="suggested-book-title">Fuuka</h4>
                  <p class="suggested-book-author">by<span class="author-name">Wiesman</span></p>
                </a>
                <a id="suggested-book">
                    <img class="suggested-book-image" src="https://iwantedwings.files.wordpress.com/2014/03/1.jpg">
                    <h4 class="suggested-book-title">Gangsta</h4>
                    <p class="suggested-book-author">by<span class="author-name">Wiesman</span></p>
                  </a>
                  <a id="suggested-book">
                      <img class="suggested-book-image" src="https://qph.fs.quoracdn.net/main-qimg-1478fcfef2d268deee3d437a8dd725f5.webp">
                      <h4 class="suggested-book-title">Pandora Hearts</h4>
                      <p class="suggested-book-author">by<span class="author-name">Wiesman</span></p>
                    </a>
</div>
