<div id="user-reviews">
    <img routerLink="/profile" class="reviewer-image" src="{{photo}}">
    <div id="reviewer-details">
        <div id="reviewer-group">
            <p id="Reviewer-name" [routerLink]="['/other-user-profile-entity', userId]">{{userName}}</p>
            <span id="rate-it">rated it</span>
            <span id="star0" class="fa fa-star" class="dots"></span>
            <span id="star1" class="fa fa-star"></span>
            <span id="star2" class="fa fa-star"></span>
            <span id="star3" class="fa fa-star"></span>
            <span id="star4" class="fa fa-star"></span>
        </div>
        <p id="review-date">{{reviewDate}}</p>
    </div>
</div>
<div id="review-comment">
    <p>{{befordots[0]}}<span id="dots-user-review">...</span><span id="more-review">{{afterdots[0]}}</span>
        <button (click)="more_user_preview()" mat-button id="myBtn-user-review">Read more</button></p>
</div>
<div id="review-like-comment">
    <p (click)="LikeReview()" class="blue-text" id="liked">Like</p>
    <p class="dots">.</p>
    <p (click)="ClickStorage()" class="blue-text" id="comment">Comment</p>
    <p class="dots">.</p>
    <i class="thumbs-up"><mat-icon>thumb_up_alt</mat-icon></i>
    <p type="text" class="dots" id="show-likes">{{likesCount}}</p>
    <p class="dots">.</p>
    <i class="comment">	<mat-icon> mode_comment</mat-icon></i>
    <p class="dots" id="show-comments">{{commCount}}</p>
</div>
<hr id="next-review" class="w3-gray">