<div class="navbar-margin"></div>
<h1>Genres</h1>
<div>
    <div class="genres-row-container">
        <app-genre-row [genreType]='genreType1' [showGenreName]="true"> </app-genre-row>
        <div class="center"><a [routerLink]="['/genre', genreType1]" routerLinkActive="router-link-active">More {{genreType1}} Books</a></div>
        <hr>
        <app-genre-row [genreType]='genreType2' [showGenreName]="true"> </app-genre-row>
        <div class="center"><a [routerLink]="['/genre', genreType2]" routerLinkActive="router-link-active">More {{genreType2}} Books</a></div>
        <hr>
        <app-genre-row [genreType]='genreType3' [showGenreName]="true"> </app-genre-row>
        <div class="center"><a [routerLink]="['/genre', genreType3]" routerLinkActive="router-link-active">More {{genreType3}} Books</a></div>
        <hr>
    </div>
</div>