

<form method="post">
<div class="box">

<h1 align="center">Geeks Reads</h1>

<button class="btn facebook" data-provider="facebook"><i></i><span>Continue with Facebook</span></button>

<button class="btn amazon" data-provider="amazon"><i></i><span>Continue with Amazon</span></button>

<hr>

<input type="Name" name="Name" placeholder="Name" onFocus="field_focus(this, 'Name');" onblur="field_blur(this, 'Name');" class="email" />

<input type="email" name="email" placeholder="email" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" class="email" required/>

<input type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required onFocus="field_focus(this, 'password');" onblur="field_blur(this, 'password');" class="email" />


<button class="btn " ><i></i><span>Sign Up</span></button>


<p> Not a member? <u style="color:#f1c40f;">Sign In</u></p>


</div> <!-- End Box -->

</form>




