<div id="user-comment">
<img id="user-image" src="{{comment_details[0].user_image}}">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">{{comment_details[0].user_name}}</a>
        <span id="user-body">{{comment_details[0].user_body}}</span> 
      </p>  
      <p id="comment-date">{{comment_details[0].user_date}}</p>
  </div>
</div>
<hr id="user-underline">
<div id="user-comment">
<img id="user-image" src="{{comment_details[1].user_image}}">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">{{comment_details[1].user_name}}</a>
        <span id="user-body">{{comment_details[1].user_body}}</span> 
      </p>  
      <p id="comment-date">{{comment_details[1].user_date}}</p>
  </div>
</div>
<hr id="user-underline">
<div id="user-comment">
<img id="user-image" src="{{comment_details[2].user_image}}">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">{{comment_details[2].user_name}}</a>
        <span id="user-body">{{comment_details[2].user_body}}</span> 
      </p>  
      <p id="comment-date">{{comment_details[2].user_date}}</p>
  </div>
</div>
<hr id="user-underline">
<div id="user-comment">
<img id="user-image" src="{{comment_details[3].user_image}}">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">{{comment_details[3].user_name}}</a>
        <span id="user-body">{{comment_details[3].user_body}}</span> 
      </p>  
      <p id="comment-date">{{comment_details[3].user_date}}</p>
  </div>
</div>
<hr id="user-underline">
<div id="user-comment">
<img id="user-image" src="{{comment_details[4].user_image}}">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">{{comment_details[4].user_name}}</a>
        <span id="user-body">{{comment_details[4].user_body}}</span> 
      </p>  
      <p id="comment-date">{{comment_details[4].user_date}}</p>
  </div>
</div>
<hr id="user-underline">
<div id="user-comment">
<img id="user-image" src="{{comment_details[5].user_image}}">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">{{comment_details[5].user_name}}</a>
        <span id="user-body">{{comment_details[5].user_body}}</span> 
      </p>  
      <p id="comment-date">{{comment_details[5].user_date}}</p>
  </div>
</div>
<hr id="user-underline">

