<div id="user-comment">
<img id="user-image" src="http://olegif.com/bin/gifs/00/28/96.gif">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">name</a>
        <span id="user-body">Niamh, I one hundred percent agree with you. I was hooked on this book from the very first page! Oh and to all you guys who are complaining about it not being realistic, but then also whining about the designer names, are contradicting yourselves. These are filthy rich teenagers! Of course everything is about Rock &Republic and Marc Jacobs! That's how it is in the rich people world! I mean, I'm middle class but even I have a great pair of rock & republics. That's just how teens are.
        </span> 
      </p>  
      <p id="comment-date">8 years ago</p>
  </div>
</div>
<hr id="user-underline">
<div id="user-comment">
<img id="user-image" src="http://olegif.com/bin/gifs/00/28/96.gif">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">name</a>
        <span id="user-body">Niamh, I one hundred percent agree with you. I was hooked on this book from the very first page! Oh and to all you guys who are complaining about it not being realistic, but then also whining about the designer names, are contradicting yourselves. These are filthy rich teenagers! Of course everything is about Rock &Republic and Marc Jacobs! That's how it is in the rich people world! I mean, I'm middle class but even I have a great pair of rock & republics. That's just how teens are.
        </span> 
      </p>  
      <p id="comment-date">8 years ago</p>
  </div>
</div>
<hr id="user-underline">
<div id="user-comment">
<img id="user-image" src="http://olegif.com/bin/gifs/00/28/96.gif">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">name</a>
        <span id="user-body">Niamh, I one hundred percent agree with you. I was hooked on this book from the very first page! Oh and to all you guys who are complaining about it not being realistic, but then also whining about the designer names, are contradicting yourselves. These are filthy rich teenagers! Of course everything is about Rock &Republic and Marc Jacobs! That's how it is in the rich people world! I mean, I'm middle class but even I have a great pair of rock & republics. That's just how teens are.
        </span> 
      </p>  
      <p id="comment-date">8 years ago</p>
  </div>
</div>
<hr id="user-underline">
<div id="user-comment">
<img id="user-image" src="http://olegif.com/bin/gifs/00/28/96.gif">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">name</a>
        <span id="user-body">Niamh, I one hundred percent agree with you. I was hooked on this book from the very first page! Oh and to all you guys who are complaining about it not being realistic, but then also whining about the designer names, are contradicting yourselves. These are filthy rich teenagers! Of course everything is about Rock &Republic and Marc Jacobs! That's how it is in the rich people world! I mean, I'm middle class but even I have a great pair of rock & republics. That's just how teens are.
        </span> 
      </p>  
      <p id="comment-date">8 years ago</p>
  </div>
</div>
<hr id="user-underline">
<div id="user-comment">
<img id="user-image" src="http://olegif.com/bin/gifs/00/28/96.gif">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">name</a>
        <span id="user-body">Niamh, I one hundred percent agree with you. I was hooked on this book from the very first page! Oh and to all you guys who are complaining about it not being realistic, but then also whining about the designer names, are contradicting yourselves. These are filthy rich teenagers! Of course everything is about Rock &Republic and Marc Jacobs! That's how it is in the rich people world! I mean, I'm middle class but even I have a great pair of rock & republics. That's just how teens are.
        </span> 
      </p>  
      <p id="comment-date">8 years ago</p>
  </div>
</div>
<hr id="user-underline">
<div id="user-comment">
<img id="user-image" src="http://olegif.com/bin/gifs/00/28/96.gif">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">name</a>
        <span id="user-body">Niamh, I one hundred percent agree with you. I was hooked on this book from the very first page! Oh and to all you guys who are complaining about it not being realistic, but then also whining about the designer names, are contradicting yourselves. These are filthy rich teenagers! Of course everything is about Rock &Republic and Marc Jacobs! That's how it is in the rich people world! I mean, I'm middle class but even I have a great pair of rock & republics. That's just how teens are.
        </span> 
      </p>  
      <p id="comment-date">8 years ago</p>
  </div>
</div>
<hr id="user-underline">

