<div id="user-reviews">
  <img class="reviewer-image" src="https://files.tofugu.com/articles/japanese/2016-04-25-chibi/chibihowto-06.jpg">
  <div>
      <p id="Reviewer-name">.............
          <span id="rate-it">rated it</span>
          <span class="fa fa-star checked" class="dots"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
      </p>
      <p id="review-date">.....................</p>
  </div>
</div>
<div id="review-comment">
  <p>.................<span id="dots-user-review5">...</span><span id="more-review">...............</span></p>
  <button id="myBtn-user-review" class="w3-button w3-khaki w3-round-xlarge">Read more</button>
</div>
<div id="review-like-comment">
  <p class="blue-text">Like</p>
  <p class="dots">.</p>
  <p class="blue-text">Comment</p>
  <p class="dots">.</p>
  <i class="fa fa-thumbs-up"></i>
  <p type="text" class="dots" id="show-likes">...........</p>
  <p class="dots">.</p>
  <i class="fa fa-comment"></i>
  <p class="dots">...............</p>
</div>
<hr id="next-review" class="w3-gray">
