<div id="user-reviews">
  <img class="reviewer-image" src="{{review_information[4].reviewer_image}}">
  <div>
      <p id="Reviewer-name">{{review_information[4].reviewer_name}}
          <span id="rate-it">rated it</span>
          <span class="fa fa-star checked" class="dots"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
      </p>
      <p id="review-date">{{review_information[4].reviewer_date}}</p>
  </div>
</div>
<div id="review-comment">
  <p>{{befor_dots[4]}}<span id="dots-user-review5">...</span><span id="more-review">{{after_dots[4]}}</span></p>
  <button (click)="more_user_preview()" id="myBtn-user-review" class="w3-button w3-khaki w3-round-xlarge">Read more</button>
</div>
<div id="review-like-comment">
  <p class="blue-text" (click)="like()">Like</p>
  <p class="dots">.</p>
  <p class="blue-text">Comment</p>
  <p class="dots">.</p>
  <i class="fa fa-thumbs-up"></i>
  <p type="text" class="dots" id="show-likes">{{review_information[4].reviewer_likes}}</p>
  <p class="dots">.</p>
  <i class="fa fa-comment"></i>
  <p class="dots">{{review_information[4].reviewer_comments}}</p>
</div>
<hr id="next-review" class="w3-gray">
