a {
  color: #000000;
  text-decoration: none;
}

mat-toolbar {
  position: fixed;
  top: 0;
}

#nav-logo{
  margin: 10px 0 0 0;
  max-width: 200px;
  max-height: 200px;
}

#nav-links-container {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 10px;
}

.nav-link a {
  padding: 0 10px;

}

.nav-link a:hover {
  background-color: #382110;
  color: #ffffff;
}
