<mat-toolbar>
  <mat-toolbar-row>
    <span>
      <a routerLink="/homepage">
        <img src="../../assets/logos/nav-logo.png" alt="Geeksreads main logo" id="nav-logo">
      </a>
    </span>
    <span id="nav-links-container">
      <span class="nav-link"><a routerLink="/homepage">Home</a></span>
      <span class="nav-link"><a href="">My Books</a></span>
      <span class="nav-link"><a routerLink="/genres">Browse</a></span>
      <form id="nav-search-bar">
        <mat-form-field>
          <input type="search" matInput placeholder="Search">
          <mat-icon matSuffix id="nav-search-bar-icon">search</mat-icon>
        </mat-form-field>
      </form>
      <span class="nav-link"><a routerLink="/sign-in">Sign In</a></span>
      <span class="nav-link"><a routerLink="/sign-up">Join</a></span>
    </span>
  </mat-toolbar-row>
</mat-toolbar>