img{
    margin-right: 2rem;
    margin-bottom: 2.5rem;
}

mat-list-item{
    margin-bottom: 4rem;
    margin-top: 4rem;
}
mat-divider{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

pre{
    font-size:120%;
}
button{
    margin-left: 2rem;
}

p{
     margin-left: 20px;
    color:orange;
}

