<app-profile-entity></app-profile-entity>
<app-profile-book-entity></app-profile-book-entity>
<mat-list>
    <mat-list-item>
        <a routerLink="/profile-want-to-read-shelf" id="want-to-read-route">To read({{numToRead}})</a>
    </mat-list-item>
    <mat-list-item>
        <a routerLink="/profile-read-shelf" id="read-route"> read({{numRead}})</a>
    </mat-list-item>
    <mat-list-item>
        <a routerLink="/profile-reading-shelf" id="reading-route"> currently reading({{numReading}})</a>
    </mat-list-item>
</mat-list>