<div class="forgot-password">
    <div class="verification-logo-div">
        <img src="../../assets/logos/logo.png" alt="Geeksreads Logo" class="verification-logo">
    </div>
    <div *ngIf="!requestSuccess">
        <form [formGroup]="formdata" (ngSubmit)="requestNewPassword(formdata.value)" class="pass-reset-form">
            <mat-form-field>
                <input matInput placeholder="Enter your email" name="email" formControlName="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <input mat-raised-button class="btn" type="submit" id="form-submit-btn" [disabled]="!formdata.valid" value="Submit">
        </form>
    </div>
    <div *ngIf="requestSuccess">
        <p>Reset request has been sent!</p>
        <p>Please check your email</p>
    </div>
</div>