.forgot-password {
    margin: 64px 0;
    text-align: center;
}

.verification-logo-div {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    margin: 10px 0;
    padding: 10px 0 0 0;
}

.verification-logo {
    margin: 0 auto;
    width: 100px;
}

.mat-form-field {
    margin: 10px 0;
}

.btn {
    background-color: #b9ab98;
    border-radius: 3px;
    border: 0;
    box-shadow: 2px 2px 2px #111;
    color: #FFF;
    cursor: pointer;
    height: 40px;
    margin: 10px auto;
    width: 50%;
}

.pass-reset {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70%;
    margin: 20px auto;
}

.pass-reset-logo-div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 10px 0;
    padding: 10px 0 0 0;
}

.pass-reset-logo {
    width: 100px;
    margin: 0 auto;
}

.pass-reset-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.pass-reset-div {
    display: flex;
    align-items: center;
}