<div class="nav-margin"></div>
<div *ngIf="results">
    <div *ngFor="let i of searchModel">
        <div *ngFor="let j of i">
            <div class="author-book">
                <div class="author-book-header">
                    <div class="author-book-stats">
                        <div class="author-book-image">
                            <img [routerLink]="['/book', j.BookId]" src={{j.Cover}} alt="{{j.Title}} Book Cover">
                        </div>
                        <div class="author-book-info-details" [routerLink]="['/book', j.BookId]">
                            {{j.Title}}
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!results">
    No results found!!
</div>
