#Author-picture-data
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 0 0 10px;
}
#about-this-author
{   
    margin-left: 10px;
}
#author-image
{
    max-width: 85px;
    max-height:85px;
    margin:0 0 0 0;
}
#author-name
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin:5px 0 0 10px;
}
#number-followers
{
    flex-wrap: nowrap;
    flex-direction: row;
    margin:10px 0 0 25px;
}
.author-discription
{
    margin:0 0 0 15px;
}
#more-author-discription
{
    display: none;
}
#myBtn-author-discription:hover
{
    background-color: red;
    transition: 1s;
}
#underline-book-author
{
    color:darkgrey;
    size:3px;
    background-color: darkgrey;
    margin-left: 10px;
}
#myBtn-author-discription
{
    background-color: darkgrey;
    margin-bottom: 10px;
}
#dots-author-discription
{
    color:blue;
}
#Author-data
{
    flex-direction: row;
    flex-wrap: nowrap;
    margin:0 0 0 10px;
}

#Author-data p {
    margin: 0;
}

#Author-data span {
    margin: 0 0 0 5px;
}
#btn-follow-author
{
    margin-top: 2px;
}
#author-followers
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}