
<a name="book_details_bottom" id="book_details_more" style="margin-left: 10px;">Book details</a>
<p style="margin: 10px 0 0 10px;">Kindle Edition, 372 pages</p>
<span style="margin-left: 10px;">Published December 1st 2016 by Lake Union Publishing</span>
<div>
    <p style="margin:20px 0 0 10px;">ASIN<span style="margin-left: 10px; color:grey">B01DF0TM1Y</span></p>
    <p style="margin:0 0 0 10px;">Edition language<span style="margin-left: 10px; color:grey">English</span></p>
    <p style="margin:0 0 0 10px;">Original title<span style="margin-left: 10px; color:grey">黒執事</span></p>
    <p style="margin:0 0 0 10px;">Literary Awards<span style="margin-left: 10px; color:grey">shōnen manga</span></p>
    <p style="margin:0 0 0 10px;">Characters<span style="margin-left: 10px; color:grey">Sebastian, Ceil Phantomhive</span></p>
</div>
<hr color="darkgrey" size="3" style="margin-left: 10px;">


