#book-details-more
{
    margin: 20px 0 0 10px;
}
#book-edition
{
    margin: 10px 0 0 10px;
}
#publish-date
{
    margin-left: 10px;
}
#ASIN-number
{
    margin:20px 0 0 10px;
}
.text-shift
{
  margin:0 0 0 10px;
}
.span-color
{
    margin-left: 10px; 
    color:grey;
}
#underline-book-details
{
    color:rgb(75, 73, 73);
    size:5;
    background-color: rgb(58, 57, 57);
    margin-left: 10px;
}